[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.131.0",
    "pydantic>=2.12.5",
    "supabase>=2.28.0",
    "uvicorn>=0.41.0",
]
